/* src/components/PortfolioCard.css */
.portfolio-card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.portfolio-card-image-container {
  background-color: #F4F4F4;
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  flex-grow: 1;
  display: flex;
  position: relative;
}

.aspect-ratio-box {
  width: 100%;
  padding-bottom: 75%; /* 4:3 aspect ratio (adjust as needed) */
  position: relative;
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-card-info-container {
  padding-top: 0.62rem;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.project-title-line {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}


.project-description-text {
  color: var(--text-color-secondary);
  font-size: 1rem; /* Or a specific gray color */
}

.vector-square-secondary {
  width: 3px;
  height: 3px;
  background-color: var(--text-color-secondary) !important;
}

.portfolio-column:first-child .portfolio-card:first-child .portfolio-card-image-container {
  height: 600px;
}
