/* src/components/PortfolioSection.css */
.portfolio-section {
  margin-top: 6.25rem; 
}

.portfolio-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  margin-bottom: 1rem;
}

.all-projects-link {
  text-decoration: none;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  gap: 10px;
  align-items: stretch; /* Ensure columns stretch to fill available height */
}

.portfolio-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  height: 100%; /* Ensure column takes full height of grid cell */
}

.portfolio-column:first-child .portfolio-card:first-child {
  height: 960px;
}

@media (max-width: 1024px) {
  .portfolio-grid {
    grid-template-columns: 1fr;
  }
}
